<h1><%= @park.name %></h1>
<img src="<%= @park.picture %>" alt="<%= @park.name %>">
<p><%= @park.description %></p>
<a href="/parks/<%= @park.id %>/edit">Edit</a>
<%= link_to "Delete", park_path(@park.id), method: :delete %>
